@import 'preloader';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "bootstrap-icons/font/bootstrap-icons.css";

//@import "bootstrap-select/dist/css/bootstrap-select.css";

@import "datatables.net-bs5/css/dataTables.bootstrap5.css";

@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.css";

@import 'table';

@import 'card';

@import 'nav';

@import 'controls';

/* common */

* {
    margin: 0;
    padding: 0;
}

body {
    //padding-top: 4rem;
    font-size: 105%;
}

.container {
    //padding-top: 1rem;
    padding-bottom: 1rem;
}

hr {
    border: 1px solid $blue;
}

h1,
h2,
h3,
h4 {
    color: $dark-blue;
    margin: 0;
    margin-bottom: 1rem;
}

h1 {
    //background-color: $light-blue;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 3px solid $dark-blue;
}

h2 {
    //background-color: $light-blue;
    font-size: 1.7rem;
    padding: 0.5rem;
    //border-bottom: 3px solid $dark-blue;
}

h3 {

    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
    font-weight: 600;
}


.mark-in-list {
    display: inline-block;
    min-width: 2rem;
}



/* accordion */

.accordion {
    margin: 1rem 0 1rem 0;
}



/* forms */

.form-group {
    margin: 1rem;
}

hr{
    margin: 0;
}
